{{ ansible_managed | comment }}

{% for forward_zone in unbound_forward_zone %}
forward-zone:
    name: "{{ forward_zone.name }}"
{% for forward_addr in forward_zone.forward_addr|default([]) %}
    forward-addr: {{ forward_addr }}
{% endfor %}
{% for forward_host in forward_zone.forward_host|default([]) %}
    forward-host: {{ forward_host }}
{% endfor %}
    forward-first: {{ forward_zone.forward_first|default(false)|ubool }}
    forward-tls-upstream: {{ forward_zone.forward_tls_upstream|default(false)|ubool }}
    forward-no-cache: {{ forward_zone.forward_no_cache|default(false)|ubool }}
{% endfor %}
