{{ ansible_managed | comment }}

remote-control:
    control-enable: yes

    control-interface: /etc/unbound/var/remote-control.sock
    # control-interface: 127.0.0.1
    # control-interface: ::1
    # control-port: 8953
    control-use-cert: "no"

    # server-key-file: "/etc/unbound/unbound_server.key"
    # server-cert-file: "/etc/unbound/unbound_server.pem"
    # control-key-file: "/etc/unbound/unbound_control.key"
    # control-cert-file: "/etc/unbound/unbound_control.pem"

