{{ ansible_managed | comment }}

server:
    verbosity: 1

    # statistics-interval: 0
    # shm-enable: no
    # shm-key: 11777
    statistics-cumulative: yes
    # extended-statistics: no
    # num-threads: 1

{% for interface in unbound_interface %}
    interface: {{ interface }}@53
    interface: {{ interface }}@853
{% endfor %}

    # interface-automatic: yes

    # port: 53

{% for interface in unbound_outgoing_interface %}
    outgoing-interface: {{ interface }}
{% endfor %}

    prefer-ip6: yes

    # number of ports to allocate per thread, determines the size of the
    # port range that can be open simultaneously.  About double the
    # num-queries-per-thread, or, use as many as the OS will allow you.
    # outgoing-range: 4096

    # outgoing-port-permit: 32768
    # outgoing-port-avoid: "3200-3208"
    # outgoing-num-tcp: 10
    # incoming-num-tcp: 10
    # so-rcvbuf: 0
    # so-sndbuf: 0
    # so-reuseport: yes
    # ip-transparent: no
    # ip-freebind: no
    # edns-buffer-size: 4096
    # max-udp-size: 4096

    # stream-wait-size: 4m
    # msg-buffer-size: 65552
    msg-cache-size: 10m
    # msg-cache-slabs: 4
    # num-queries-per-thread: 1024
    # jostle-timeout: 200
    # delay-close: 0
    # unknown-server-time-limit: 376
    rrset-cache-size: 10m
    # rrset-cache-slabs: 4
    # cache-min-ttl: 0
    # cache-max-ttl: 86400
    cache-max-negative-ttl: 600
    # infra-host-ttl: 900
    # infra-cache-min-rtt: 50
    # infra-cache-slabs: 4
    # infra-cache-numhosts: 10000

    # define-tag: "tag1 tag2 tag3"

    # do-ip4: yes
    # do-ip6: yes
    # do-udp: yes
    # do-tcp: yes
    # tcp-upstream: no
    # udp-upstream-without-downstream: no
    # tcp-mss: 0
    # outgoing-tcp-mss: 0
    # tcp-idle-timeout: 30000
    # edns-tcp-keepalive: no
    # edns-tcp-keepalive-timeout: 120000

    # use-systemd: no
    # do-daemonize: yes

{% for acl in unbound_acl %}
    access-control: {{ acl }}
{% endfor %}

    # access-control-tag: 192.0.2.0/24 "tag2 tag3"
    # access-control-tag-action: 192.0.2.0/24 tag3 refuse
    # access-control-tag-data: 192.0.2.0/24 tag2 "A 127.0.0.1"
    # access-control-view: 192.0.2.0/24 viewname

    # chroot: "/etc/unbound"
    # username: "unbound"
    # directory: "/etc/unbound"

    # logfile: ""
    # use-syslog: yes
    # log-identity: ""
    # log-time-ascii: no
    # log-queries: no
    # log-replies: no
    # log-tag-queryreply: no
    # log-local-actions: no
    # log-servfail: no

    # pidfile: "/run/unbound.pid"

    # root-hints: ""

    # hide-identity: no
    # hide-version: no
    # hide-trustanchor: no
    # identity: ""
    # version: ""

    # target-fetch-policy: "3 2 1 0 0"
    # harden-short-bufsize: no
    # harden-large-queries: no
    # harden-glue: yes

    # harden-dnssec-stripped: yes
    # harden-below-nxdomain: yes
    # harden-referral-path: no
    # harden-algo-downgrade: no
    # qname-minimisation: yes
    # qname-minimisation-strict: no
    # aggressive-nsec: no

    # use-caps-for-id: no
    # caps-whitelist: "licdn.com"
    # caps-whitelist: "senderbase.org"

    # private-address: 10.0.0.0/8
    # private-address: 172.16.0.0/12
    # private-address: 192.168.0.0/16
    # private-address: 169.254.0.0/16
    # private-address: fd00::/8
    # private-address: fe80::/10
    # private-address: ::ffff:0:0/96
    # private-domain: "example.com"

    # unwanted-reply-threshold: 0

    # do-not-query-address: 127.0.0.1/8
    # do-not-query-address: ::1
    # do-not-query-localhost: yes
    # prefetch: no
    # prefetch-key: no
    # deny-any: no
    # rrset-roundrobin: no
    # minimal-responses: yes
    # disable-dnssec-lame-check: no
    # module-config: "validator iterator"

    # auto-trust-anchor-file: "/etc/unbound/var/root-anchors.txt"
    # trust-anchor-signaling: yes
    # root-key-sentinel: yes
    # dlv-anchor-file: "dlv.isc.org.key"
    # trust-anchor-file: "/etc/dnssec/root-anchors.txt"
    # trust-anchor: "nlnetlabs.nl. DNSKEY 257 3 5 AQPzzTWMz8qSWIQlfRnPckx2BiVmkVN6LPupO3mbz7FhLSnm26n6iG9N Lby97Ji453aWZY3M5/xJBSOS2vWtco2t8C0+xeO1bc/d6ZTy32DHchpW 6rDH1vp86Ll+ha0tmwyy9QP7y2bVw5zSbFCrefk8qCUBgfHm9bHzMG1U BYtEIQ=="
    # trust-anchor: "jelte.nlnetlabs.nl. DS 42860 5 1 14D739EB566D2B1A5E216A0BA4D17FA9B038BE4A"
    # trusted-keys-file: ""
    # domain-insecure: "example.com"

    # val-override-date: ""
    # val-bogus-ttl: 60
    # val-sig-skew-min: 3600
    # val-sig-skew-max: 86400
    # val-clean-additional: yes
    # val-permissive-mode: no
    # ignore-cd-flag: no

    # serve-expired: no
    # serve-expired-ttl: 0
    # serve-expired-ttl-reset: no
    # serve-expired-reply-ttl: 30
    # serve-expired-client-timeout: 0

    # val-log-level: 0
    # val-nsec3-keysize-iterations: "1024 150 2048 500 4096 2500"

    # add-holddown: 2592000 # 30 days
    # del-holddown: 2592000 # 30 days
    # keep-missing: 31622400 # 366 days
    # permit-small-holddown: no
    key-cache-size: 10m
    # key-cache-slabs: 4
    # neg-cache-size: 1m

    # local-zone: "localhost." nodefault
    # local-zone: "127.in-addr.arpa." nodefault
    # local-zone: "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa." nodefault
    # local-zone: "onion." nodefault
    # local-zone: "test." nodefault
    # local-zone: "invalid." nodefault
    # local-zone: "10.in-addr.arpa." nodefault
    # local-zone: "16.172.in-addr.arpa." nodefault
    # local-zone: "17.172.in-addr.arpa." nodefault
    # local-zone: "18.172.in-addr.arpa." nodefault
    # local-zone: "19.172.in-addr.arpa." nodefault
    # local-zone: "20.172.in-addr.arpa." nodefault
    # local-zone: "21.172.in-addr.arpa." nodefault
    # local-zone: "22.172.in-addr.arpa." nodefault
    # local-zone: "23.172.in-addr.arpa." nodefault
    # local-zone: "24.172.in-addr.arpa." nodefault
    # local-zone: "25.172.in-addr.arpa." nodefault
    # local-zone: "26.172.in-addr.arpa." nodefault
    # local-zone: "27.172.in-addr.arpa." nodefault
    # local-zone: "28.172.in-addr.arpa." nodefault
    # local-zone: "29.172.in-addr.arpa." nodefault
    # local-zone: "30.172.in-addr.arpa." nodefault
    # local-zone: "31.172.in-addr.arpa." nodefault
    # local-zone: "168.192.in-addr.arpa." nodefault
    # local-zone: "0.in-addr.arpa." nodefault
    # local-zone: "254.169.in-addr.arpa." nodefault
    # local-zone: "2.0.192.in-addr.arpa." nodefault
    # local-zone: "100.51.198.in-addr.arpa." nodefault
    # local-zone: "113.0.203.in-addr.arpa." nodefault
    # local-zone: "255.255.255.255.in-addr.arpa." nodefault
    # local-zone: "0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa." nodefault
    # local-zone: "d.f.ip6.arpa." nodefault
    # local-zone: "8.e.f.ip6.arpa." nodefault
    # local-zone: "9.e.f.ip6.arpa." nodefault
    # local-zone: "a.e.f.ip6.arpa." nodefault
    # local-zone: "b.e.f.ip6.arpa." nodefault
    # local-zone: "8.b.d.0.1.0.0.2.ip6.arpa." nodefault
    # And for 64.100.in-addr.arpa. to 127.100.in-addr.arpa.

    # local-zone: "example.com" ipset
    # unblock-lan-zones: no
    # insecure-lan-zones: no

    # tls-service-key: "path/to/privatekeyfile.key"
    # tls-service-pem: "path/to/publiccertfile.pem"
    # tls-port: 853
{% if unbound_tls_key is defined and unbound_tls_chain is defined %}
    tls-service-key: "{{ unbound_tls_key }}"
    tls-service-pem: "{{ unbound_tls_chain }}"
{% endif %}

    # tls-ciphers: "DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256"
    # tls-ciphersuites: "TLS_AES_128_GCM_SHA256:TLS_AES_128_CCM_8_SHA256:TLS_AES_128_CCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256"

    # tls-session-ticket-keys: "path/to/secret_file1"
    # tls-session-ticket-keys: "path/to/secret_file2"

    # tls-upstream: no

    # tls-cert-bundle: ""
    tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"

    # dns64-prefix: 64:ff9b::0/96
    # dns64-ignore-aaaa: "example.com"

    # ratelimit: 0
    # ratelimit-size: 4m
    # ratelimit-slabs: 4
    # ratelimit-factor: 10
    # ratelimit-below-domain: com 1000
    # ip-ratelimit: 0
    # ip-ratelimit-size: 4m
    # ip-ratelimit-slabs: 4
    # ip-ratelimit-factor: 10
    # tcp-connection-limit: 192.0.2.0/24 12
    # fast-server-num: 3
    # ipsecmod-enabled: yes
    # ipsecmod-hook: "./my_executable"
    # ipsecmod-strict: no
    # ipsecmod-max-ttl: 3600
    # ipsecmod-ignore-bogus: no
    # ipsecmod-whitelist: "example.com"
    # ipsecmod-whitelist: "nlnetlabs.nl"
