{{ ansible_managed | comment }}

{% for stub_zone in unbound_stub_zone %}
stub-zone:
    name: "{{ stub_zone.name }}"
{% for stub_addr in stub_zone.stub_addr|default([]) %}
    stub-addr: {{ stub_addr }}
{% endfor %}
{% for stub_host in stub_zone.stub_host|default([]) %}
    stub-host: {{ stub_host }}
{% endfor %}
    stub-prime: {{ stub_zone.stub_prime|default(false)|ubool }}
    stub-first: {{ stub_zone.stub_first|default(false)|ubool }}
    stub-tls-upstream: {{ stub_zone.stub_tls_upstream|default(false)|ubool }}
    stub-no-cache: {{ stub_zone.stub_no_cache|default(false)|ubool }}
{% endfor %}
